{% extends "base_generic.html" %}

{% block content %}
<div class="container-home">
    <!-- Main Section and Image Side-by-Side -->
    <div class="left-content">
        <div class="column">
            <h2 class="title-h2" style="font-size: 50px;">File Management System</h2>
            <p>Interactive Media Management and Display Platform, easily sign up and create your account to upload, manage your files and create albums! This is your central hub for managing and organizing your files efficiently.</p>
            <a href="{% url 'upload' %}">
                <button class="button-1" role="button" style="width: 150px">Try Now!</button>
            </a>
            <a href="{% url 'create_album' %}">
                <button class="button-2" role="button" style="margin-left: 30px;">Display Patterns</button>
            </a>
            <br><br>
            <!-- Two-column layout below the buttons -->
            <div class="two-column-layout">
                <div class="column-item">
                    <h3 class="title-h3" style="margin-bottom: 20px;">Key Features:</h3>
                    <div class="feature-item">
                        <img src="static/images/Check.png" alt="Logo" style="height: 30px; margin-right: 8px;">
                        User and Role Management
                    </div>
                    <div class="feature-item">
                        <img src="static/images/Check.png" alt="Logo" style="height: 30px; margin-right: 8px;">
                        File Upload and Management
                    </div>
                    <div class="feature-item">
                        <img src="static/images/Check.png" alt="Logo" style="height: 30px; margin-right: 8px;">
                        User Friendly
                    </div>
                </div>
                <div class="column-item">
                    <h3 class="title-h3">&nbsp;</h3>
                    <div class="feature-item">
                        <img src="static/images/Check.png" alt="Logo" style="height: 30px; margin-right: 8px;">
                        Album Creation and Management
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Column for the image on the right side -->
    <div class="right-image-column">
        <img src="/static/images/LogoHome.png" style="width: 450px; height: auto;" alt="LogoHome">
    </div>

</div>
{% endblock %}
